/*
Los estilos de CSS contenidos en este fichero son de aplicacion unica sobre el 
fichero HTML home_page.html.

Estas clase actuaran unicamente sobre las etiquetas que no se encuentra ya bajo
las diferentes clases globlales.

Para mas informacion, visualice el fichero -> src/styles/global.css.
*/

/* Clases para dar formato a los diferentes logos de las empresas */
.logos {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos svg path {
    fill: #656565;
}

/* Clases de la etiqueta <section/> que contiene la informacion sobre los comentarios de los clientes */
.comment-section {
    background-color: var(--color-f);
    margin-left: 3%;
    margin-right: 3%;
    height: 722px;
    background-image: url('../../resources/testimonial-section/orbit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.comment-section h3 {
    text-align: center;
    color: white;
}

.comment-client {
    margin-top: 130px;
    margin-bottom: 130px;
    color: var(--color-j);
    text-align: center;
}

.name-client {
    color: var(--color-c);
}

.page-client {
    color: white;
}

.container-client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-client {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
}

.img-emojis {
    width: 200px;
    height: 200px;
    padding: 120px;
}

.div-img-emojis {
    display: flex;
    flex-direction: column;
}

/* Clases que actuan sobre la etiqueta <section/> que contiene el apartado "Our Services" */
.container-global svg {
    background-color: var(--color-i);
    padding: 20px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 30px;
}

/* Clases que actuan sobre la etiqueta <section/> que contiene la primera parte de la web
despues de la etiqueta <header/> */
.container-hero {
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.container-hero > div:last-child {
    position: relative;
    flex-shrink: 0;
}

.container-hero > div:last-child img[alt="Hero"] {
    width: calc(100% - 150px);
    max-width: 720px;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.container-hero > div:last-child img[alt="Credit Card"] {
    width: calc(100% - 300px);
    max-width: 350px;
    height: auto;
    position: absolute;
    transform: translate(-25%, -175%);
    z-index: 2;
}

.container-hero > div:last-child img[alt="Emoji"] {
    width: calc(100% - 400px);
    max-width: 350px;
    height: auto;
    position: absolute;
    transform: translate(95%, -65%);
    z-index: 3;
}

.hero-div-txt {
    margin-top: 100px;
}

.hero-txt {
    color: var(--color-g);
}

.hero-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 0;
}

.hero-links li {
    margin-top: 40px;
}
